@model IEnumerable<MVC21BITV01Test.Models.SanPham>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
}

<style>
    td {
        color: #545454;
    }
    th {
        color: #042b91;
    }
</style>

<h1 style="color: #042b91;">Danh sách sản phẩm</h1>

<p>
    <div class="d-flex">
        <a asp-action="Create" class="btn btn-outline-primary" >TẠO MỚI</a>
    </div>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Đơn vị tính
            </th>
            <th>
                Đơn giá
            </th>
            <th>
                Hình ảnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonViTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                    <img src="~/img_products/@item.Hinh" alt="@item.Hinh" style="height:100px" />
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.MaSp" class="btn btn-outline-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.MaSp" class="btn btn-outline-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.MaSp" class="btn btn-outline-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
