@model IEnumerable<MVC21BITV01Test.Models.KhachHang>

@{
    ViewData["Title"] = "Danh sách khách hàng";
}

<style>
    td {
        color: #545454;
    }

    th {
        color: #042b91;
    }
</style>
<h1 style="color: #042b91;">Danh sách khách hàng</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên công ty
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
               Thành phố
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenCty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhPhoNavigation.MaThanhPho)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.MaKh" class="btn btn-outline-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.MaKh" class="btn btn-outline-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.MaKh" class="btn btn-outline-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
